<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373320091425-orbnj56u739ogp8tnfcngvhkrfd00fb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373320091425-orbnj56u739ogp8tnfcngvhkrfd00fb1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>373320091425-6il55noai4a9njjdnm83gs9i62h5vgl1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA68rI5JEuReqf-FYgGsdDoAnGKKVPuQKE</string>
	<key>GCM_SENDER_ID</key>
	<string>373320091425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starline.wallet</string>
	<key>PROJECT_ID</key>
	<string>startline-crypto</string>
	<key>STORAGE_BUCKET</key>
	<string>startline-crypto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373320091425:ios:bfa842c1eda0d176a82060</string>
</dict>
</plist>